.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

#post-list li {
  margin-bottom: 2rem;
  border: 1px grey solid;
}

.btn {
  margin-top: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
}
