.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

.btnAdmin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btnClass {
  color: #fff;
  text-decoration: none;
}

.btnClass a {
  text-decoration: none;
  color: white;
}

.btnClass:hover {
  color: #fff;
}

.btnJSclass a {
  text-decoration: none;
  color: black;
}

.btnCreate a {
  text-decoration: none;
  color: white;
}

textarea {
  resize: none;
}
